<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PRODUCTOS</span>
          <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Coca Cola</th>
                <td>Bebida</td>
                <td>Misiones</td>
                <td>2</td>
                <td>
                  <i class="fa-regular fa-pen-to-square text-primary icon"></i>
                  <i class="fa-solid fa-trash text-danger icon"></i>
                </td>
              </tr>
              <tr>
                <th>Malboro 20</th>
                <td>Cigarrillos</td>
                <td>Mendoza</td>
                <td>3</td>
                <td>
                  <i class="fa-regular fa-pen-to-square text-primary icon"></i>
                  <i class="fa-solid fa-trash text-danger icon"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
